<div id="layoutSidenav_nav" style="height: 100%;">
    <nav class="sb-sidenav accordion bg-success" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading text-light font-weight-bolder">Admin</div>
                <a class="nav-link text-light" routerLink="/admin"
                    ><div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard</a
                >
                <a class="nav-link text-light" routerLink="/changePassword-admin"
                    ><div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Change Password</a
                >
               <div class="sb-sidenav-menu-heading text-light font-weight-bolder">Teacher</div>
                
                  <a class="nav-link text-light" routerLink="/add-teacher"
                    ><div class="sb-nav-link-icon"><i class="fa fa-plus" aria-hidden="true"></i></div>
                    Register Teachers</a
                ><a class="nav-link text-light" routerLink="/display-teacher"
                    ><div class="sb-nav-link-icon"><i class="fa fa-bars" aria-hidden="true"></i></div>
                    Display Teachers List</a>
                    <a class="nav-link text-light" routerLink="/find-teacher"
                    ><div class="sb-nav-link-icon"><i class="fa fa-search"  aria-hidden="true"></i></div>
                    Find Teacher Details</a>
               
                    <div class="sb-sidenav-menu-heading text-light font-weight-bolder">Student</div>
                
                  <a class="nav-link text-light" routerLink="/add-student"
                    ><div class="sb-nav-link-icon"><i class="fa fa-plus" aria-hidden="true"></i></div>
                    Register Students</a
                ><a class="nav-link text-light" routerLink="/display-student"
                    ><div class="sb-nav-link-icon"><i class="fa fa-bars" aria-hidden="true"></i></div>
                    Display Students List</a>
                    <a class="nav-link text-light" routerLink="/find-student"
                    ><div class="sb-nav-link-icon"><i class="fa fa-search" aria-hidden="true"></i></div>
                    Find Student Details</a>
                
            </div>
        </div>

    </nav>
</div>