<!--<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading"></div>
                    <a class="nav-link" routerLink="/admin">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        <b>Dashboard</b>
                    </a>
                    <div class="sb-sidenav-menu-heading">Teacher</div>
 
                    <a class="nav-link" routerLink="/add-teacher">
                        <div class="sb-nav-link-icon"><i class="fa fa-plus" aria-hidden="true"></i></div>
                        Add Teachers
                    </a><a class="nav-link" routerLink="/display-teacher">
                        <div class="sb-nav-link-icon"><i class="fa fa-bars" aria-hidden="true"></i></div>
                        Display Teacher Details
                    </a>
                    <a class="nav-link" routerLink="/find-teacher">
                        <div class="sb-nav-link-icon"><i class="fa fa-search" aria-hidden="true"></i></div>
                        Find Teacher Details
                    </a>
 
                    <div class="sb-sidenav-menu-heading">Student</div>
 
                    <a class="nav-link" routerLink="/add-student">
                        <div class="sb-nav-link-icon"><i class="fa fa-plus" aria-hidden="true"></i></div>
                        Add Students
                    </a><a class="nav-link" routerLink="/display-student">
                        <div class="sb-nav-link-icon"><i class="fa fa-bars" aria-hidden="true"></i></div>
                        Display Student Details
                    </a>
                    <a class="nav-link" routerLink="/find-student">
                        <div class="sb-nav-link-icon"><i class="fa fa-search" aria-hidden="true"></i></div>
                        Find Student Details
                    </a>
 
                </div>
            </div>
        </nav>
    </div>
    
 
 <div><form id="registrationform" >
 <div class="wrapper">
     <div class="title">
       Register Teacher
     </div>
     <div class="form">
        <div class="inputfield">
           <label>First Name</label>
           <input type="text" class="input" [(ngModel)]="teacher.firstName" id="firstName" name="firstName">
        </div>  
         <div class="inputfield">
           <label>Last Name</label>
           <input type="text" class="input" [(ngModel)]="teacher.lastName" id="lastName" name="lastName">
        </div>  
        <div class="inputfield">
           <label>Password</label>
           <input type="password" class="input" [(ngModel)]="teacher.password" id="password" name="password">
        </div>  
       <div class="inputfield">
           <label>Confirm Password</label>
           <input type="password" [(ngModel)]="confirmPassword" class="input" name="confirmPassword">
        </div> 
         
        
         <div class="inputfield">
           <label>Email Address</label>
           <input type="text" class="input" [(ngModel)]="teacher.email" id="email" name="email">
        </div> 
        <div class="inputfield">
           <label>Data of Birth</label>
           <input type="date" id="dateOfBirth" [(ngModel)]="teacher.dateOfBirth" value="1994-01-01" max="2016-12-31" name="dateOfBirth" class="input">
        </div> 
       <div class="inputfield">
           <label>Phone Number</label>
           <input type="text" class="input" id="phone" [(ngModel)]="teacher.phoneNumber" name="phoneNumber">
        </div> 
       <div class="inputfield">
           <label>House number</label>
           <input type="number" class="input" id="houseNumber" [(ngModel)]="teacher.houseNumber" name="houseNumber">
        </div> 
         <div class="inputfield">
           <label>Street</label>
           <input type="text" class="input" id="streetName" [(ngModel)]="teacher.streetName" name="streetName">
        </div> 
        <div class="inputfield">
           <label>City</label>
           <div class="custom_select" >
             <select [(ngModel)]="teacher.city" name="city">
              <option value="Bangalore" selected="selected">Bangalore</option>
             <option value="Chennai">Chennai</option>
             <option value="Delhi">Delhi</option>
             <option value="Kolkatta">Kolakatta</option>
             <option value="Mumbai">Mumbai</option>
             </select>
           </div>
        </div> 
        <div class="inputfield">
           <label>State</label>
           <div class="custom_select" >
             <select [(ngModel)]="teacher.state" name="state">
               <option value="UP" selected="selected">UP</option>
                 <option value="MP">MP</option>
                 <option value="UK">UK</option>
             </select>
           </div>
        </div> 
        <div class="inputfield">
           <label>Country</label>
           <div class="custom_select" >
             <select [(ngModel)]="teacher.country" name="country">
               <option value="India" selected="selected">India</option>
                 <option value="Nepal">Nepal</option>
                 <option value="US">US</option>
             </select>
           </div>
        </div> 
       <div class="inputfield">
           <label>Postal Code</label>
           <input type="text" class="input" [(ngModel)]="teacher.pincode" id="pincode" name="pincode">
        </div> 
       <div class="inputfield">
         <input type="submit" value="ADD TEACHER" class="btn" id="submit" name="submit" (click)="onSubmit()">
       </div>
     </div>
 </div>
 </form>
 </div>
 </div>-->




 <div style="background-image: url('/assets/images/admin.jpg');height:100%;width:100%;" >




        <app-admin-navbar></app-admin-navbar>
<div id="layoutSidenav">

<app-sidebar-admin></app-sidebar-admin>

<div id="layoutSidenav_content">
    
 <main>
  <div class="card bg-success"
  style="width: 75%; margin-left: 13%; margin-top: 3%; border-radius: 10px">
  <div class="card-header text-center text-light font-weight-bolder">Update Teacher Details</div>
  <div class="card-body bg-light" style="border-radius: 10px;">
    <form ngNativeValidate>
     

      <div class="row ">

        <div class="col-sm-2 text-left" style="margin-left: 2%">
          <p class="text-dark">
            <label for="firstName">First Name :</label>
          </p>
        </div>

        <div class="col-sm-3 text-left">

          <div class="input-group mb-6 ">
            <input type="text" class="form-control" id="firstName"
              name="firstName" placeholder="Enter First Name" tabindex="1"
              [(ngModel)]="firstName"		aria-label="firstName" aria-describedby="basic-addon2"
              required="required">

          </div>
        </div>
        <div class="col-sm-1"></div>

        <div class="col-sm-2 text-left">
          <p class="text-dark">
            <label for="firstName">Last Name :</label>
          </p>
        </div>

        <div class="col-sm-3 text-left">

          <div class="input-group mb-6 ">
            <input type="text" class="form-control" id="lastName"
              name="lastName" placeholder="Enter last name" tabindex="2"
              [(ngModel)]="lastName"				aria-label="lastName" aria-describedby="basic-addon2"
              required="required">

          </div>
        </div>

      </div>






      


      <div class="row ">

        <div class="col-sm-2 text-left" style="margin-left: 2%">
          <p class="text-dark">
            <label for="email">Email :</label>
          </p>
        </div>

        <div class="col-sm-3 text-left">

          <div class="input-group mb-6 ">
            <input class="form-control" id="email" name="email"
              placeholder="Enter Email " tabindex="3" type="email"
              aria-label="email" aria-describedby="basic-addon2"
              [(ngModel)]="email"				required="required">

          </div>
        </div>
        <div class="col-sm-1"></div>

        <div class="col-sm-2 text-left">
          <p class="text-dark">
            <label for="password">Password :</label>
          </p>
        </div>
                             
        <div class="col-sm-3 text-left">

          <div class="input-group mb-6 ">
            <input class="form-control" type="password" id="password"
              name="password" placeholder="Enter password " tabindex="4"
              [(ngModel)]="password"        aria-label="password" aria-describedby="basic-addon2"
              required="required">

          </div>
        </div>
        

      </div>
     
      <div class="row ">
      
        <div class="col-sm-2 text-left" style="margin-left: 2%">
          <p class="text-dark">
            <label for="DateOfBirth">Date Of Birth :</label>
          </p>
        </div>

        <div class="col-sm-3 text-left">

          <div class="input-group mb-6 ">
            <input type="date" class="form-control" tabindex="5" id="dateOfBirth" [(ngModel)]="dateOfBirth"
min="1994-01-01" value="2016-12-31" name="dateOfBirth" tabindex="4">

          </div>
        </div>
      
      

        <div class="col-sm-1"></div>

        <div class="col-sm-2 text-left">
          <p class="text-dark">
            <label for="confirmPassword">Confirm Password :</label>
          </p>
        </div>

        <div class="col-sm-3 text-left">

          <div class="input-group mb-6 ">
            <input class="form-control" type="password"
              id="confirmPassword" name="confirmPassword" tabindex="6"
              [(ngModel)]="confirmPassword"  placeholder="Enter password  " aria-label="confirmPassword"
              aria-describedby="basic-addon2" required="required" >

          </div>
        </div>
        

      </div>


      <div class="row"><div class="col-sm-12 text-right" style="margin-left:5%"><div style="color: red;font-size: 15px;margin-right: 15%  ">
        <label id="warningLabel" name="warningLabel">{{error}}</label></div></div>
        </div>

  
<div class="row ">

        
        
        
          <div class="col-sm-2 text-left" style="margin-left: 2%">
          <p class="text-dark">
            <label for="phoneNumber">Phone Number :</label>
          </p>
        </div>

        <div class="col-sm-3 text-left">

          <div class="input-group mb-6 ">
            <input id="phone" name="phoneNumber"
              placeholder="phone number" required tabindex="7" type="tel"
              pattern="[0-9]{10}" class="form-control"
              [(ngModel)]="phoneNumber"		aria-label="lastName" aria-describedby="basic-addon2">

          </div>
        </div>
        
        
        <div class="col-sm-1"></div>
        
          <div class="col-sm-2 text-left">
          <p class="text-dark">
            <label for="AlternateNumber">Alternate Number :</label>
          </p>
        </div>

        <div class="col-sm-3 text-left">

          <div class="input-group mb-6 ">
            <input id="phone" name="alternateNumber"
              placeholder="alternate number" required tabindex="8" type="tel"
              pattern="[0-9]{10}" class="form-control"
              aria-label="lastName" aria-describedby="basic-addon2">

          </div>
        </div>

      

      </div>
      
      
  
     
      <div class="row ">

        
        
        
        
        
        
        
        <div class="col-sm-2 text-left" style="margin-left: 2%">
          <p class="text-dark">
            <label for="houseNumber">House Number :</label>
          </p>
        </div>

        <div class="col-sm-3 text-left">

          <div class="input-group mb-6 ">
            <input type="number" class="form-control" id="houseNumber"
              name="houseNumber" pattern="[0-9]" tabindex="9"
              placeholder="Enter houseNumber " aria-label="houseNumber"
              [(ngModel)]="houseNumber"	aria-describedby="basic-addon2" required="required">

          </div>
        </div>
        
        <div class="col-sm-1"></div>

        <div class="col-sm-2 text-left">
          <p class="text-dark">
            <label for="pincode">pincode :</label>
          </p>
        </div>

        <div class="col-sm-3 text-left">

          <div class="input-group mb-6 ">
            <input type="number" class="form-control" id="pincode" tabindex="10" name="pincode" placeholder="Enter Pin Code" aria-label="houseNumber"
            [(ngModel)]="pincode"		aria-describedby="basic-addon2" required="required">

          </div>
        </div>

      </div>
   

<div class="row ">

        <div class="col-sm-2 text-left" style="margin-left: 2%">
          <p class="text-dark">
            <label for="streetName">Street Name :</label>
          </p>
        </div>

        <div class="col-sm-3 text-left">

          <div class="input-group mb-6 ">
            <input type="text" class="form-control" id="streetName" tabindex="11" name="streetName" placeholder="Street Address"
              aria-label="firstName" aria-describedby="basic-addon2"
              [(ngModel)]="streetName"		required="required">

          </div>
        </div>
        <div class="col-sm-1"></div>

        <div class="col-sm-2 text-left">
          <p class="text-dark">
            <label for="city">City :</label>
          </p>
        </div>

        <div class="col-sm-3 text-left">

          <div class="input-group mb-6 ">
            <select class="form-control" [(ngModel)]="city" name="city" tabindex="12">

    
   
    
      <option value="Agra" selected="selected">Agra</option>
      <option value="Aligarh">Aligarh</option>
       <option value="Bangalore" >Bangalore</option>
    <option value="Chennai">Chennai</option>
    <option value="Delhi">Delhi</option>
      <option value="Etawah">Etawah</option>
      <option value="Kanpur">Kanpur</option>
       <option value="Kolkatta">Kolakatta</option>
      <option value="Mumbai">Mumbai</option>
      <option value="Pune">Pune</option>
      <option value="Hyderabad">Hyderabad</option>
    </select>

          </div>
        </div>

      </div>

<div class="row ">

        <div class="col-sm-2 text-left" style="margin-left: 2%">
          <p class="text-dark">
            <label for="state">State :</label>
          </p>
        </div>

        <div class="col-sm-3 text-left">

          <div class="input-group mb-6 ">
              <select class="form-control" [(ngModel)]="state" name="state" tabindex="12">

    
    <option value="Uttar Pradesh" selected="selected">Uttar Pradesh</option>
    <option value="Maharashtra">Maharashtra</option>
    <option value="Telangana">Telangana</option>
     <option value="Delhi">Delhi</option>
     <option value="Tamil Nadu">Tamil Nadu</option>
      <option value="Karnataka">Karnataka</option>
    
    </select>
          </div>
        </div>
        <div class="col-sm-1"></div>

        <div class="col-sm-2 text-left">
          <p class="text-dark">
            <label for="country">Country :</label>
          </p>
        </div>

        <div class="col-sm-3 text-left">

          <div class="input-group mb-6 ">
            <select class="form-control"  name="country" [(ngModel)]="country" tabindex="13">

    
    <option value="India" selected="selected">India</option>
    <option value="Nepal">Nepal</option>
    <option value="Canada">Canada</option>
      <option value="Israel">Israel</option>
     
    </select>

          </div>
        </div>

      </div>
<div class="row"><div class="col-sm-12 text-center"><div style="color: red;font-size: 15px; "><label >{{error}}</label></div></div>
</div>


      


      <div class="row">
        <div class="col-sm-12 text-center text-dark">
          <input  id="regButton" type="submit" tabindex="14" value="Update"
          (click)="onSubmit()"   class="btn btn-outline-success my-2 my-sm-0  text-dark c ">
        </div>
      </div>

    


    </form>
  </div>
</div>
        </main>
    
<app-footer></app-footer>
</div>
</div></div>