<div style="background-image: url('/assets/images/about1.jpg');height:700px;width:100%;" >
<app-nav></app-nav>
<h2 class="header bg-light">Alpha School </h2>
  <div class="row">
    <div class="leftcolumn">
      <div class="card bg-light">
        <h2>Mission and Vision Statement</h2>
        
        <p><b>Mission:</b></p><p> Alpha School seeks to educate children so that they may grow in knowledge and wisdom, live in humility and integrity, and serve God and mankind with joy and sincerity.
        
  <p><b>Vision Statement:</b></p> <p>A School known for values and striving for excellence in every field.</p>
      </div>
      <div class="card bg-light">
        <h2>History</h2>
       
          <p>Alpha School was established by seven visionaries on 15 January 1963, in a residential building at 13/15 East Patel Nagar with twelve students and six teachers. The school grew but remained in seven residential buildings. The school moved to its current school building after 5 years.</p>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
  </div>
              