



<div style="background-image: url('/assets/images/admin.jpg');height:100%;width:100%;" >
                      <app-admin-navbar></app-admin-navbar>
<div id="layoutSidenav">

<app-sidebar-admin></app-sidebar-admin>

<div id="layoutSidenav_content">
    
  <main>
       
    <div class="card bg-success" style="width: 40%;margin-left: 29% ; margin-top: 9%;border-radius: 10px">
        <div class="card-header text-center text-light font-weight-bolder">
         Change Password
        </div>
        <div class="card-body bg-light" style="border-radius: 15px">
      <form ngNativeValidate>
      
                          
      
      
                              <div class="row"><div class="col-sm-1  text-center" ></div>
                          <div class="col-sm-4  text-left" style="margin-left: 2%">
                              <p class="text-dark"><label for="password">Password</label></p>
      </div>
      
      &nbsp;&nbsp;<div class="col-sm-6 ">
      
      <div class="input-group mb-3">
        <input type="password" id="password" class="form-control" tabindex="1" [(ngModel)]="password"  name="password" required placeholder="Enter password" aria-label="password" aria-describedby="basic-addon2">
        
      </div>
      
      </div></div>
      
      
      
      <div class="row"><div class="col-sm-1  text-center" ></div>
                          <div class="col-sm-4  text-left" style="margin-left: 2%">
                              <p class="text-dark"><label for="password">New Password</label></p>
      </div>
      
      &nbsp;&nbsp;<div class="col-sm-6 ">
      <!--  <input id="password" name="password" placeholder="Enter password" required tabindex="2" type="password">-->
      
      <div class="input-group mb-3">
        <input type="password" id="newPassword" class="form-control" tabindex="2" [(ngModel)]="newPassword" name="newPassword" required placeholder="Enter password" aria-label="password" aria-describedby="basic-addon2">
        
      </div>
      
      </div></div>
      
      
      
      
      <div class="row"><div class="col-sm-1  text-center" ></div>
                          <div class="col-sm-4  text-left" style="margin-left: 2%">
                              <p class="text-dark"><label for="password"> Confirm Password</label></p>
      </div>
      
      &nbsp;&nbsp;<div class="col-sm-6 ">
      <!--  <input id="password" name="password" placeholder="Enter password" required tabindex="2" type="password">-->
      
      <div class="input-group mb-3">
        <input  type="password" id="confirmPassword" class="form-control" [(ngModel)]="confirmPassword" tabindex="3" name="confirmPassword"  required placeholder="Enter password" aria-label="password" aria-describedby="basic-addon2">
        
      </div>
      
      </div></div>
      
      
      
      <div class="row">
      <div class="col-sm-12 text-center"><div style="color: red;font-size: 15px; font-style: italic; "><label id="warningLabel" name="warningLabel"></label>{{error}} {{output}}</div></div></div>
                     <br/>         
                              <div class="row"><div class="col-sm-12 text-center text-dark"><input tabindex="4" (click)="onSubmit()"  type="submit" value="Change Password" class="btn btn-outline-success my-2 my-sm-0  text-dark">
                              </div></div>
                              
                              
                              
                              
                          </form>
        </div>
      </div>
                     
                     
                      </main>
<app-footer></app-footer>
</div>
</div></div>