<!--<nav class="sb-topnav navbar navbar-expand navbar-dark bg-success">
    <a class="navbar-brand" href="">Admin Dashboard</a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button
    ><!-- Navbar Search
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
            
            <div class="input-group-append">
               <h5 class="text-light"> </h5>
            </div>
        </div>
    </form>
    <!-- Navbar
    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown">
            <button class="btn btn-success  text-light"> Logout</button>
        </li>
      
    </ul>
</nav>-->
<header ><nav class="navbar navbar-expand-lg navbar-light bg-success">
    <img [src]="imagePath" />
    <a routerLink="/" class="nav-link text-light" ><b>{{appTitle}}</b></a> 
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav mr-auto">
        
         

        
        
       </ul>
       <form  class="form-inline my-2 my-lg-0">
        
        
       <div >
       
       <a  class="btn btn-success my-2 my-sm-0  text-light" (click)="logout()"> logout </a>
   
       </div>
         </form>
         
     </div>
   </nav>
</header>