<div style="background-image: url('/assets/images/admin.jpg');height:100%;width:100%;" >
        <app-admin-navbar></app-admin-navbar>
        <div id="layoutSidenav">
        
        <app-sidebar-admin></app-sidebar-admin>
        
        <div id="layoutSidenav_content">
           
          <main>
            
            
            <div class="header">
            <h2>Important Notice</h2>
          </div>
          <div class="row">
            <div class="leftcolumn">
              <div class="card">
                <h2>Covid-19 update</h2>
                
                <p><b>notice:</b></p><p>Due to the spread of covid-19,All School have been shut down until further notice by the HRD Ministry.</p>
          </div></div></div>
        

          <div class="row">
            <div class="leftcolumn">
              <div class="card">
                <h2> Updates on Online Classes</h2>
                
                <p><b>notice:</b></p><p>Arrangement of the online classes should be done by the date 05/05/2020. </p>
          </div></div></div>
        
        </main>
        <app-footer></app-footer>
        </div></div></div>